.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__img {
    margin-right: 30px;
}
.header__img img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

.header__desc h1 {
    letter-spacing: 2px;
    font-weight: 500;
}

.header__desc h3 {
    color: #848282;
    font-weight: 500;
}

@media screen and (max-width: 615px) {
    .header {
        flex-direction: column-reverse;
    }

    .header__img img {
        height: 200px;
        width: 200px;
    }

    .header__desc h1,
    h3 {
        text-align: center;
    }
}
