.footer {
    margin-top: 25px;
}

.footer__buttons {
}

.footer__buttons button {
    outline: none;
    border-radius: 3px;
    border: 1.5px solid #98ee99;
    padding: 5px 13px;
    background: white;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.5s;
}
.footer__buttons button:hover {
    background: #f0f0f057;
}

.footer__whoAmI {
    margin-top: 25px;
}

.footer__whatILike {
    margin-top: 25px;
}
